:root {
    --bg-section: #1F2937;
    --cta-theme: #4F46E5;
    --cta-theme-secondary: #57557D;
    --text-section: #9CA3AF;
    --secondary: #AF5D63;
    --temporary: #9E2B25;
    --bottle-green: #0C4A0B;
    --yellow-cab: #FFB100;
    --white: #EDEDED;
    --shadow: rgba(95, 99, 206, 0.2);
}