.comment-section {
  padding: 0 5%;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid var(--text-section);
  }

  .comment-container {
    margin: 5% 0;
    padding: 2% 2%;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 3px var(--shadow);
    display: flex;

    .comment-photo {
      width: 20%;
    }

    .comment-details {
      padding: 0 5%;

      .comment-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid var(--text-section);

        .commenter-name {
          font-weight: bold;
          font-size: 1.2rem;
        }

        .comment-date {
          font-size: 0.85rem;
        }
      }
      .comment-description {
        padding: 2% 0;
        font-size: 0.7rem;
      }
    }
  }
}