.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar-visible {
  transform: translateY(0);
}


.register-container {
  margin: 5% 5%;
}

.white-font {
  color: var(--white);
}