@import url('../colors.css');

.sitter-info-container {
  padding: 0 5%;
  color: var(--bg-section);


  .sitter-info-details-container {
    margin: 2% 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 3px var(--shadow);

    .sitter-info-photo {}

    .sitter-info-header {
      margin: 0 2%;
      font-weight: bold;
      font-size: 2.5rem;
      color: var(--bg-section);
    }
    .sitter-info-details {
      margin: 0 2%;
      font-size: 1.25rem;

      p {
      color: var(--text-grey);
      }

      .sitter-info-details-services {
        p {
          i {
            color: var(--cta-theme-secondary);
            margin: 0 2%;
            font-size: 1.5rem;
          }
        }
      }

      .sitter-info-details-actions {
        display: flex;
        button {
          margin: 3% 2%;
        }
      }
    }

  }
  .sitter-info-description {
    margin: 3% 2%;
    .sitter-info-description-header {
      font-size: 1.5rem;
      font-weight: 600;
      border-bottom: 1px solid var(--text-section);
    }

    .sitter-description {
      margin: 3% 0;
    }
  }
}